{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<h1>Deck of cards</h1>
<p>Draw</p>
    <div class="">
    {% if card is defined %}
        <h2 class ="card" style="width: 50px;">{{ card }}</h2>
    {% endif %}
    </div>
    <p>Cards Remaining: {{ length }}</p>
    <form method="post" action="">
    <p>
        <input type="submit" name="draw" value="Draw another card"
    onClick="this.form.action='{{ path('draw_a_card') }}';"
>
    </p>
</form>
{% endblock %}