{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
<h1>Cards</h1>
<p>Cards</p>
<p> Nedan är en bild som visar ett klassdiagram av kortleken som jag ahr byggt hät på kmom02. Cardgraphic tänker jag ärver från ard. Sedan 
tänker jag att både Hand och DeckOfCards slutar existera om Card försvinner. Det är ocskå en till många relation. Flera kort kan vara i en kortlek samt en hand </p>
<img src="{{ asset('img/uml.png') }}" alt="klass diagram">
{% endblock %}