{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block main %}
<h1>Cards</h1>
<p>Cards</p>
<p> Nedan är en bild som visar ett klassdiagram av kortleken som jag ahr byggt hät på kmom02. Cardgraphic tänker jag ärver från ard. Sedan 
tänker jag att både Hand och DeckOfCards slutar existera om Card försvinner. </p>
<img src="{{ asset('img/uml.png') }}" alt="klass diagram">
{% endblock %}