{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}

<h1>Card game</h1>
    <div class= "nav" style = "background-color: transparent;">
        <ul style ="">
            <li><a href="{{ path('card_deck') }}">Deck</a></li>
            <li><a href="{{ path('card_shuffle') }}">Shuffled deck</a></li>
            <li><a href="{{ path('card_draw') }}">Draw a card</a></li>
        </ul>
    </div>

{% endblock %}