{% extends "base.html.twig" %}

{% block body %}


<form method="post" action="" class="blackjack-form">
    <h1>BlackJack [START]</h1>  
    <input type="submit" name="do_it" value="Start playing">
</form>

{% endblock %}