{% block main %}
<h1>Roll many dice</h1>

<p>You rolled {{ num_dices }} dice. Here is the value of the dice.</p>

<ul>
{% for roll in diceRoll %}
    <li>{{ roll }}</li>
{% endfor %}
</ul>

<p>Try to roll 
    <a href="{{ path('test_roll_num_dices', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_roll_num_dices', {num: 10}) }}">10</a>
    dice.
</p>
{% endblock %}