.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-img{
    width: 40%;
}
.blackjack-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}