{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>Zac</h1>
        <img src="{{ asset('img/Zac.jpg') }}" alt="Zac">
        <p>Zac is the product of a toxic spill that ran through a chemtech seam and pooled in an isolated cavern deep in Zaun's Sump.<br> Despite such humble origins, Zac has grown from primordial ooze into a thinking being who dwells in the city's pipes, occasionally emerging to help those who cannot help themselves or to rebuild the broken infrastructure of Zaun.</p>
    </div>
{% endblock %}