{% extends "base.html.twig" %}

{% block title %}Magic Number{% endblock %}

{% block body %}

<h1>Magic Number</h1>
<p>You went mining and found {{ number }} diamonds!</p>
<div class  = "diamond-main">
    

    <div class ="diamond-container">
    {% for i in 1..number %}
        <img class ="diamond-img" src="/img/diamond.png" alt="diamond">
    {% endfor %}
    </div>
</div>
{% endblock %}
