{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="about-title">Report</h1>
    <div class="container">
    <div class="kmom">
    <h2><a href="#kmom01">kmom01</a></h2>
    <p>Jag har tidigare jobbat med objektorientering i python. Jag tycker det är roligt att jobba med och intressant trots att jag tycker att det är lite klurigt.
    Jag vill påstå att jag förstår kodbasen i report bra. Jag tycker att det är tydlig mappstruktur och att det är lätt att förstå vad respektive mapp och fil gör. Det ska bli spännande att se hur det sser ut senare i kursen!
    Jag var nyligen hos OutPost24 där de prata mycket om säkerhet och tester, vilket jag tyckte var rätt intressant. De nämnde att man aldrig kommer att skriva perfekt kod, därför tycker jag att security och errors and exeption låter lite extra 
    intressant just nu i PHP The Right way!</p>
    <p>I objektorientering finns det objekt och ett objekt har medemsvariabler och metoder. Ett objekt skapas utifrån en klass och en klass är typ en mall, exemepelvis frukter eller bilar. medemsvariablerna är ett slgasläge för objektet och metoderna kan exempelvis vara att ge namn.
    En bra sak att veta för att komma igång är hur man skriver en enkel klass och objekt samt fördelar med objektorientering. Det blir bland annat bättre filstruktur och koden blir mer återanvändingsbar. </p>
    <p> TIL hur man kommer igång med symfony.</p>
    </div>
    <div class="kmom">
    <h2><a href="#kmom02">kmom01</a></h2>
    <p>Arv betyer att betyder att en klass ärver egenskaper från en annan klass. I detta fall ärver cardsgraphic från Cards. Komposion innebär en sstark kopping mellan objekten. Exempelvis ett hus, om huset förstörs så förstör även rummen. Rummmen 
    kan alltså inte existera utan huset. Interface är typ ett kontrakt där en klass lovar att erbjua några metoder. Trait består av metoder och medlemsvriabler som kan användas för att utöka funktionaliteten av en klass.</p>
    <p> Jag tyckte att detta kmom gick bra och var intressant att jobba med. Jag är nöjd med min implentation. Jag följadde guiderna som fanns och det gick väldigt bra att påbörja. Jag tror det finns mycket förbättringspotentioal i min kod och jag ska vill bli bättre på detta. Därför 
    ska jag försöka mitt bästa att bli bättre på att struktuera upp kodbasen samt lära mig best practices eller "short cuts" i PHP. Jag tycker också att det har varit rätt intressant att jobba i Symfony. Jag gjorde kmom01 och kmom02 förra året och vill minnas att jag tyckte det var väligt svårt, men nu 
    känns det faktiskts bra.
    <p> Min TIL är objektorienterade konstruktioner i PHP.
    </div>
    <div class="kmom">
    <h2>Kmom03</h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom04</h2>
    <p></p>
    </div>
    </div>
{% endblock %}