{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="about-title">Report</h1>
    <div class="container">
    <div class="kmom">
    <h2><a href="#kmom01">kmom01</a></h2>
    <p>Jag har tidigare jobbat med objektorientering i python. Jag tycker det är roligt att jobba med och intressant trots att jag tycker att det är lite klurigt.
    Jag vill påstå att jag förstår kodbasen i report bra. Jag tycker att det är tydlig mappstruktur och att det är lätt att förstå vad respektive mapp och fil gör. Det ska bli spännande att se hur det sser ut senare i kursen!
    Jag var nyligen hos OutPost24 där de prata mycket om säkerhet och tester, vilket jag tyckte var rätt intressant. De nämnde att man aldrig kommer att skriva perfekt kod, därför tycker jag att security och errors and exeption låter lite extra 
    intressant just nu i PHP The Right way!</p>
    <p>I objektorientering finns det objekt och ett objekt har medemsvariabler och metoder. Ett objekt skapas utifrån en klass och en klass är typ en mall, exemepelvis frukter eller bilar. medemsvariablerna är ett slgasläge för objektet och metoderna kan exempelvis vara att ge namn.
    En bra sak att veta för att komma igång är hur man skriver en enkel klass och objekt samt fördelar med objektorientering. Det blir bland annat bättre filstruktur och koden blir mer återanvändingsbar. </p>
    <p> TIL hur man kommer igång med symfony.</p>
    </div>
    <div class="kmom">
    <h2>Kmom02</h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom03</h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom04</h2>
    <p></p>
    </div>
    </div>
{% endblock %}