{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="report">
    <h1>Report</h1>
    <p>Detta är redovisningssidan för kursen, här finns samtliga redovisningstexter när du är klar.</p>

    <div id="kmom01">
        <h2>Kmom01</h2>
        <p></p>
    </div>
    <div id="kmom02">
        <h2>Kmom02</h2>
        <p>Här skriver du redovisningstexten som ren HTML i denna filen. Låt varje stycke (paragraf) omslutas av ett p-element. Texten som finns här nu är bara som exempel på hur du skriver HTML texter.</p>
    </div>
    <div id="kmom03">
        <h2>Kmom03</h2>
        <p>Här skriver du redovisningstexten som ren HTML i denna filen. Låt varje stycke (paragraf) omslutas av ett p-element. Texten som finns här nu är bara som exempel på hur du skriver HTML texter.</p>
    </div>
    <div id="kmom04">
        <h2>Kmom04</h2>
        <p>Här skriver du redovisningstexten som ren HTML i denna filen. Låt varje stycke (paragraf) omslutas av ett p-element. Texten som finns här nu är bara som exempel på hur du skriver HTML texter.</p>
    </div>


</div>
{% endblock %}
