{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="about-title">Report</h1>
    <div class="container">
    <div class="kmom">
    <h2><a href="#kmom01">kmom01</a></h2>
    <p>Jag har tidigare jobbat med objektorientering i python. Jag tycker det är roligt att jobba med och intressant trots att jag tycker att det är lite klurigt.
    Jag vill påstå att jag förstår kodbasen i report bra. Jag tycker att det är tydlig mappstruktur och att det är lätt att förstå vad respektive mapp och fil gör. Det ska bli spännande att se hur det sser ut senare i kursen!
    Jag var nyligen hos OutPost24 där de prata mycket om säkerhet och tester, vilket jag tyckte var rätt intressant. De nämnde att man aldrig kommer att skriva perfekt kod, därför tycker jag att security och errors and exeption låter lite extra 
    intressant just nu i PHP The Right way!</p>
    <p>I objektorientering finns det objekt och ett objekt har medemsvariabler och metoder. Ett objekt skapas utifrån en klass och en klass är typ en mall, exemepelvis frukter eller bilar. medemsvariablerna är ett slgasläge för objektet och metoderna kan exempelvis vara att ge namn.
    En bra sak att veta för att komma igång är hur man skriver en enkel klass och objekt samt fördelar med objektorientering. Det blir bland annat bättre filstruktur och koden blir mer återanvändingsbar. </p>
    <p> TIL hur man kommer igång med symfony.</p>
    </div>
    <div class="kmom">
    <h2><a href="#kmom02">kmom02</a></h2>
    <p>Arv betyer att betyder att en klass ärver egenskaper från en annan klass. I detta fall ärver cardsgraphic från Cards. Komposion innebär en sstark kopping mellan objekten. Exempelvis ett hus, om huset förstörs så förstör även rummen. Rummmen 
    kan alltså inte existera utan huset. Interface är typ ett kontrakt där en klass lovar att erbjua några metoder. Trait består av metoder och medlemsvriabler som kan användas för att utöka funktionaliteten av en klass.</p>
    <p> Jag tyckte att detta kmom gick bra och var intressant att jobba med. Jag är nöjd med min implentation. Jag följadde guiderna som fanns och det gick väldigt bra att påbörja. Jag tror det finns mycket förbättringspotentioal i min kod och jag ska vill bli bättre på detta. Därför 
    ska jag försöka mitt bästa att bli bättre på att struktuera upp kodbasen samt lära mig best practices eller "short cuts" i PHP. Jag tycker också att det har varit rätt intressant att jobba i Symfony. Jag gjorde kmom01 och kmom02 förra året och vill minnas att jag tyckte det var väligt svårt, men nu 
    känns det faktiskts bra.
    <p> Min TIL är objektorienterade konstruktioner i PHP.
    </div>
    <div class="kmom">
    <h2><a href="#kmom03">kmom03</a></h2>
    <p>Jag tyckte verkligen att flödesdiagrammet och pseudokoden hjälpte mig komma igång med kursmomenten mycket snabbare. Eftersom jag gjorde de två gerjejerna så fick jag en bild på hur jag kan bygga upp programmet. 
    Sedan när jga började jobba så följde jag kanske inte allt till punkt och pricka men de var en stor grund till arbete skulle jag vilja påstå. När jag läste att vi skulle bygga ett kortspel/miniprojekt så tänkte jag ganska direkt att det 
    kommer ta rätt lång tid, men efter förarbetet så visade det sig att det inte vart så svårt.</p>
    <p> Jag valde att bygga spelet BlackJack. Jag löste uppgiften genom att göra ett flödesdiagram och pseudokod innan jag började koda. Jag skulle vilja påså att jag är rätt nöjd med min lösning. Spelet initierar med att spelaren får 2 kort och 
    dealern frå 1 kort. Sedan får spelaren välja att antingen dra fler kort eller stanna. därefter räknas kortens värde och den som kommer närmast 21 utan att bli tjock vinnar. Förbättringar för detta program hade varit att dealern lik spelaren drar ett kort 
    åt taget. Nu drars alla dealerns kort så länge dealers hand är mindre än 17. Ett annat förbättringsförslag är att så fort spelaren blir tjock så avslutas spelaren tur och dealern drar direkt sitt kort. Det känns bra att jobba med Symfony såhär långt, jag känner att jag blir 
    bättre på det och det har börjat kännas både bra och roligt!</p>
    <p> Mitt TIL detta kmom är code linters i PHP</p>
    </div>
    <div class="kmom">
    <h2>Kmom04</h2>
    <p>
    Jag tyckte att detta kursmoment var lite klurigt, brukar tycka att tester är rätt svårt. Men jag tyckte ändp att det gick bra med PHPUnit. 
    Det tog inte så lång tid att komma igång med det eller att skriva testerna. Jag vill säga att jag lyckades rätt bra med kodtäckningen. Det 
    lyste grönt hos mig så jag tar för givet att jag kom över 70% på kodtäckningen.

    Det var lite småsaker jag var tvugen att ändra såsom null typer i min källkod för att kunna testa vissa klasser. Utöver det så tycker jag att 
    min kod var testbar kod. Efter första testen tyckte jag ändå att det gick snabbt att skriva resterande testerna. Eftersom det finns många funktioner 
    som är lite mindre och lite större så gick var det rätt snygg testbar kod. Många har en tydlig return tillexempel.


   <p>Min TIL är phpunit och phpDoc</p>
    </p>
    </div>
    <div class="kmom">
    <h2>Kmom05</h2>
    <p>
    Jag tyckte att detta kursmoment gick bra och var lärorikt. Det gick bra att jobba igenom övningen med symfony och Doctrine. Det jag reagerade på var att göra tabellerna för databasen
     direkt i terminalen. Det var ett intressant sätt att arbeta med databasen. Det var lite svårt att fatta först men sedan gick det väldigt bra.
     När jag jobbade med applikationen så tänkte jag lite på hur andra boksidor är uppbygda och försökte efterlikna användargränssnittet så gott jag kunde. Jag tyckte det gick väldigt bra.
     Jag nämnde lite innan hur hur det var att jobba med databasen och det var intressant. CRUD var också lätt att jobba med, det var smidigt att skriva remove() eller findAll(). En skillnad
     jag tänker på just nu är att jag i vanliga fall måste skriva SQL frågorna själv för att CRUDA med datan. Detta tyckte jag var väldigt smidigt och vill gärna lära mig mer om detta.

     <p> Min TIL är Doctrine, ORM och CRUD i symfony
    </p>
    </div>
    </div>
{% endblock %}