{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 class="about-title">Report</h1>
    <div class="container">
    <div class="kmom">
    <h2><a href="#kmom01">kmom01</a></h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom02</h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom03</h2>
    <p></p>
    </div>
    <div class="kmom">
    <h2>Kmom04</h2>
    <p></p>
    </div>
    </div>
{% endblock %}