{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="report">
    <h1>Report</h1>
    <p>Detta är redovisningssidan för kursen, här finns samtliga redovisningstexter när du är klar.</p>

    <div id="kmom01">
        <h2>Kmom01</h2>
        <p>Jag har tidigare läst objektorientad python och c++. Jag har också jobbat tidigare med objekt och klasser i föregående kurser.
        Tillexmepel kan en klass vara frukter och så är objekten diverse frukter då, banan, äpple eller kiwi. För att göra en klass i PHP så skriver man class följd av 
        klassnamnet och fiskmåsvingar '{}'.</p>
        <p>Jag tyckte att kmom01 gick rätt bra tt utföra. Jag hade gjort övningen innnan och själva uppgiften liknade övningen. Det första som poppade upp i mitt huvud när vi jobbade med 
        Lucky Number var minecraft. Jag tror jag vill fortsätta med lite minecraft tema men vi får se, jag kanske ändrar mig i framtida kursmoment. Jag stötte inte på några större problem men det som 
        tog lite längre tid var att göra aside på about sidan. Jag kände igen att jag har gjort något liknade i webtec så jag gick in i den mappen för att hitta hur jag gjorde. Sedan var det inte så svårt att implentera den. </p>
        <p>Jag tror jag förstår strukturen rätt bra i me/report. Den känns bekant då den liknar design upplägget. I php the right way ska jag nog l'gga tid på att läsa code style guide och coding practices. 
        Det är väl bättre att lära sig rätt från början. Sedan tycker jag att security låter väldigt intressant.
        Min TIL är hur man kommer igång med symfony.</p>
    </div>

    <div id="kmom02">
        <h2>Kmom02</h2>
        <p>Ett exempel på arv är CardGraphic. Klassen kan ärva egenskaper och metoder från Card. Med komposition kan man struktuera objekt med mindre objekt. Arv är bra att använda när klasserna har "är-en" relation medan komposition 
        är bra att använda när klassserna har en "har-en" relation. Exempelvis fordon och bil eller bil och motor. Interfaces har absrakta metoder som måste defineras i de klasser som äver från interfacet. Traits är till för att deklarear metoder som kan användas i flera klasser. </p>
        <p>Jag tyckte att uppgiften gick bra att lösa. Den var lite klurig först men när jag väl lade ner tiden så gick det frammåt. Ju mer jag jobbade med uppgiften desto mer förstod jag. Jag förlitade mig väldigt mycket på övningsuppgiften. Jag är nöjd med resultatet men jag hade önskat att kunna 
        använda CardGraphic. Jag ville att baksidan på korten skulle visas för antalet kvar som fanns i kortleken. Jag försökte mig på att lösa det ett bra tag men gav upp och gick vidare. Det kanske är något som jag försöker mig på senare igen om ork och tid finns.
        Symfony och MVC har hittills gott bra, har väl inte kommit så långt in i kursen men det känns bra hittills. Jag har lärt mig mycket om objektorienterade konstruktioner.</p>
    </div>


</div>
{% endblock %}
